<tui-island *ngIf="post" class="post tui-text_body-m">
  <h3 class="tui-island__title">{{ post.label }}</h3>
  <div *ngIf="post.createdAt">Добавлено: {{ post.createdAt | date: 'shortDate' }}</div>
  <p class="post__inner tui-island__paragraph">
    {{ post.description }}
  </p>
  <button *ngIf="!showPreview" tuiButton appearance="outline" size="m" (click)="showPreview = true">
    Развернуть превью
  </button>
  <tui-expand [expanded]="showPreview">
    <div class="post__preview-header">Превью</div>
    <p class="tui-island__paragraph">
      {{ post.preview }}
    </p>
  </tui-expand>
  <div *ngIf="post.commentsCount">Коментариев: {{ post.commentsCount }}</div>
  <p class="tui-island__paragraph tui-island__paragraph_link">
    <a tuiLink [routerLink]="getPostLink(post.id)"> Подробнее </a>
  </p>
</tui-island>
