:host {
  display: block;

  .loading {
    height: 100%;
  }

  .blog {
    &__header {
      display: flex;
      align-items: center;
    }
  }

  .posts {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}
