<ng-container *ngIf="blog$ | async as blog; else loadingTemplate">
  <section class="tui-text_body-m tui-space_top-4">
    <div class="blog__info">
      <span>{{ blog.createdBy | fullName }}</span>
      <span *ngIf="blog.createdAt">&nbsp;| {{ blog.createdAt | date: 'shortDate' }}</span>
    </div>
    <div class="blog__header">
      <h2 class="tui-text_h2 tui-space_top-2 tui-space_bottom-2">{{ blog.name }}</h2>
      <button
        *ngIf="canEdit(blog)"
        class="tui-space_left-2"
        size="m"
        appearance="flat"
        tuiIconButton
        icon="tuiIconEditLarge"
        (click)="editBlog()"></button>
    </div>
    <div class="blog__inner">
      <div class="blog__categories tui-space_bottom-4 tui-text_body-m">
        <tui-tag
          *ngFor="let category of blog.categories"
          class="tui-space_left-1"
          size="m"
          [value]="category.name"></tui-tag>
      </div>

      <div class="blog__description">
        {{ blog.description }}
      </div>
    </div>
  </section>

  <div class="posts__header tui-space_bottom-4 tui-space_top-8">
    <h3 class="tui-text_h3 tui-space_bottom-0 tui-space_top-0">Последние Посты</h3>
    <button
      *ngIf="canCreate(blog)"
      class="tui-space_right-2"
      size="m"
      tuiButton
      appearance="secondary"
      (click)="createPost()">
      Добавить пост
    </button>
  </div>

  <section class="posts">
    <bp-posts-preview
      *ngFor="let post of blog.posts; trackBy: trackByPostId; else: postsLoadingTemplate; empty: emptyTemplate"
      [post]="post"></bp-posts-preview>
  </section>
</ng-container>
<ng-template #loadingTemplate>
  <div class="loading">
    <tui-loader [showLoader]="true" [overlay]="true"></tui-loader>
  </div>
</ng-template>
<ng-template #postsLoadingTemplate>
  <tui-loader [showLoader]="true"></tui-loader>
</ng-template>
<ng-template #emptyTemplate>
  <div class="empty-label">В этом блоге пока нет постов...</div>
</ng-template>
