<ng-container *ngIf="blog$ | async as blog; else loadingTemplate">
  <section class="tui-text_body-m">
    <h2 class="tui-text_h2">{{ blog.name }}</h2>
    <button
      *ngIf="blog.createdBy.id === user.login"
      tuiIconButton
      icon="tuiIconEditLarge"
      (click)="editBlog()"></button>
    <p class="blog__categories">{{ blog.categories | categoriesNames }}</p>
    <div class="blog__info">
      <span>{{ blog.createdBy | fullName }}</span>
      <span *ngIf="blog.createdAt">&nbsp;| {{ blog.createdAt | date: 'shortDate' }}</span>
    </div>
    <p class="blog__inner">
      {{ blog.description }}
    </p>
  </section>
  <button
    tuiButton
    (click)="createPost()"></button>
  <h3 class="tui-text_h3">Последние Посты</h3>
  <section class="posts">
    <bp-posts-preview
      *ngFor="let post of blog.posts; trackBy: trackByPostId; else: postsLoadingTemplate; empty: emptyTemplate"
      [post]="post"></bp-posts-preview>
  </section>
</ng-container>
<ng-template #loadingTemplate>
  <div class="loading">
    <tui-loader [showLoader]="true" [overlay]="true"></tui-loader>
  </div>
</ng-template>
<ng-template #postsLoadingTemplate>
  <tui-loader [showLoader]="true"></tui-loader>
</ng-template>
<ng-template #emptyTemplate>
  <div class="empty-label">В этом блоге пока нет постов...</div>
</ng-template>
