<ng-container *ngIf="blog$ | async as blog; else loadingTemplate">
  <section class="tui-text_body-m">
    <div class="blog__header">
      <h2 class="tui-text_h2 tui-space_top-4 tui-space_bottom-4">{{ blog.name }}</h2>
      <button
        *ngIf="canEdit(blog)"
        class="tui-space_left-2"
        size="m"
        appearance="flat"
        tuiIconButton
        icon="tuiIconEditLarge"
        (click)="editBlog()"></button>
    </div>
    <p class="blog__categories">{{ blog.categories | categoriesNames }}</p>
    <div class="blog__info">
      <span>{{ blog.createdBy | fullName }}</span>
      <span *ngIf="blog.createdAt">&nbsp;| {{ blog.createdAt | date: 'shortDate' }}</span>
    </div>
    <p class="blog__inner">
      {{ blog.description }}
    </p>
  </section>
  <button *ngIf="canCreate(blog)" tuiButton appearance="secondary" (click)="createPost()">
    Создать новый пост в блоге
  </button>
  <h3 class="tui-text_h3">Последние Посты</h3>
  <section class="posts">
    <bp-posts-preview
      *ngFor="let post of blog.posts; trackBy: trackByPostId; else: postsLoadingTemplate; empty: emptyTemplate"
      [post]="post"></bp-posts-preview>
  </section>
</ng-container>
<ng-template #loadingTemplate>
  <div class="loading">
    <tui-loader [showLoader]="true" [overlay]="true"></tui-loader>
  </div>
</ng-template>
<ng-template #postsLoadingTemplate>
  <tui-loader [showLoader]="true"></tui-loader>
</ng-template>
<ng-template #emptyTemplate>
  <div class="empty-label">В этом блоге пока нет постов...</div>
</ng-template>
