<h2>Новые блоги</h2>
<section class="blogs">
  <tui-island *ngFor="let blog of blogs$ | async" class="blog">
    <p class="tui-island__category">{{ blog.categories | categoriesNames }}</p>
    <h3 class="tui-island__title">{{ blog.name }}</h3>
    <div>
      <span>{{ blog.createdBy | fullName }}</span>
      <span *ngIf="blog.createdAt">&nbsp;| {{ blog.createdAt | date: 'short' }}</span>
    </div>
    <p class="blog__inner tui-island__paragraph">
      {{ blog.description }}
    </p>
    <p class="tui-island__paragraph tui-island__paragraph_link">
      <a tuiLink [routerLink]="getBlogLink(blog.id)"> Подробнее </a>
    </p>
  </tui-island>
</section>
<section></section>
