<form *ngIf="formGroup" class="tui-form" [formGroup]="formGroup">
  <h2 class="tui-text_h2 tui-form__header">{{ title }}</h2>
  <div class="tui-form__row">
    <tui-input formControlName="label">Название<span class="tui-required"></span></tui-input>
    <tui-error formControlName="label" [error]="[] | tuiFieldError | async"></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-input formControlName="description">Краткое описание<span class="tui-required"></span></tui-input>
    <tui-error formControlName="description" [error]="[] | tuiFieldError | async"></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-input formControlName="preview">Превью</tui-input>
    <tui-error formControlName="preview" [error]="[] | tuiFieldError | async"></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-editor formControlName="content">Превью<span class="tui-required"></span></tui-editor>
    <tui-error formControlName="content" [error]="[] | tuiFieldError | async"></tui-error>
  </div>
  <div class="tui-form__buttons">
    <ng-content></ng-content>
  </div>
</form>
