<form class="tui-form tui-space_all-8" [formGroup]="formGroup">
  <h2 class="tui-text_h2 tui-form__header">Вход</h2>
  <div class="tui-form__row">
    <tui-input formControlName="login"
      >Логин
      <span class="tui-required"></span>
    </tui-input>
    <tui-error formControlName="login" [error]="[] | tuiFieldError | async"></tui-error>
  </div>
  <div class="tui-form__row">
    <tui-input-password formControlName="password">Пароль<span class="tui-required"></span></tui-input-password>
    <tui-error formControlName="password" [error]="[] | tuiFieldError | async"></tui-error>
  </div>
  <div class="tui-form__buttons">
    <div class="tui-form__button" (click)="invalidateForm()">
      <button
        tuiButton
        appearance="primary"
        [disabled]="formGroup.invalid"
        [showLoader]="isLoading"
        (click)="onLogin(); $event.stopPropagation()">
        Войти
      </button>
    </div>

    <a class="tui-form__button" tuiButton appearance="secondary" [routerLink]="registerLink">Зарегистрироваться</a>
  </div>
</form>
