@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
  display: block;
  overflow: hidden;
  height: 100%;

  .main {
    flex: 1;
  }
}

.root {
  overflow: hidden;
  height: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.header {
  .shadow(1);
  padding: 1rem 2rem 0;
  background-color: var(--tui-base-02);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }

  &__outlet {

  }
}

.scroll-fixed {
  overflow: hidden auto;
  .customize-scroll()
}

footer {
  padding: 2rem;
  background-color: var(--tui-base-02)
}

